<div header id=header__ID> <!-- bg-dark-->
    <nav id=nav__ID class="navbar navbar-expand-md navbar-dark" style='z-index:99999'>
        <a class="navbar-brand d-none d-lg-block" onclick="$vm.nav_load_module('home');">
            <div class=large_logo__ID>
                <div class=large_logo_large_label__ID>
                    <img src="images/childfund_logo.png" style="height:60px"></img>
                </div>
            </div>
        </a>
        <a class="navbar-brand d-lg-none" onclick="$vm.nav_load_module('home');" style='cursor:pointer'>
            <div class=small_logo_ID>
                <img src="images/childfund_logo.png" style="height:30px"></img>
            </div>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars__ID" aria-controls="navbars__ID" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
		<div id="navbars__ID" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('home');"><i class="fa fa-home"></i> Home</a></li>
				<li><a class="nav-link" onclick="$vm.nav_click_process('vm_signinout');" name=signinout><i class="fa fa-user"></i> Sign In/Out</a></li>
            </ul>
			<form id=form__ID class="form-inline my-2 my-lg-0">
				<input id=vm_system_search class="form-control mr-sm-2" type="text" placeholder="Search modules..." aria-label="Search modules..." />
			</form>
        </div>
    </nav>
    <script>
        //---------------------------------------------
        if($vm.user=='guest'){
            $('a[name=signinout]').html('<i class="fa fa-user"></i> Sign In')
            $('#username__ID').text('');
        }
        else{
            $('a[name=signinout]').html('<i class="fa fa-user"></i> Sign Out')
            $('#username__ID').text('Signed in as '+ $vm.user);
        }
        //---------------------------------------------
    </script>
    <style>
        #header__ID{
			background-color: #7EBA00;
        }
        #header__ID a{
            cursor:pointer;
        }
        #navbars__ID{
	        padding-top:30px;
        }
        .large_logo__ID{
            color:#fff;
            padding-left:30px;
        }
        .large_logo_large_label__ID{
            font-size:140%;
        }
        .large_logo_small_label__ID{
            font-size:64%;
        }
        .small_logo__ID{
            color:#fff;
        }
        #navbars__ID{
            padding-left:30px;
        }
        #form__ID{
	        padding-right:10px;
        }
		@media screen and (max-width:768px){
			#nav__ID{
                background-color: #7EBA00;
			}
	        #form__ID{
		        padding-right:0px;
	        }
		}
    </style>
</div>
