<div header id=header__ID> <!-- bg-dark-->
    <nav id=nav__ID class="navbar navbar-expand-md navbar-dark" style='z-index:99999'>
        <a class="navbar-brand d-none d-lg-block" onclick="$vm.nav_load_module('home');">
            <div class=large_logo__ID>
                <div class=large_logo_large_label__ID>
                    <img src="images/childfund_logo.png" style="height:60px"></img>
                </div>
            </div>
        </a>
        <a class="navbar-brand d-lg-none" onclick="$vm.nav_load_module('home');" style='cursor:pointer'>
            <div class=small_logo_ID>
                <img src="images/childfund_logo.png" style="height:30px"></img>
            </div>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars__ID" aria-controls="navbars__ID" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
		<div id="navbars__ID" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('home');"><i class="fa fa-home"></i> Home</a></li>
				<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " id="nav_dropdown__ID" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-pencil"></i> DATA ENTRY</a>
                    <div class="dropdown-menu" aria-labelledby="nav_dropdown__ID">
                        <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('program_list');">Program List</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('quarterly_projection');">Quarterly Projection</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="nav_dropdown__ID" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-list"></i> REPORTING</a>
                    <div class="dropdown-menu" aria-labelledby="nav_dropdown__ID">
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('dev');">Project Budget History</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('dev');">Project quarterly budget and actual</a>
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('dev');">Project budget and actual by source</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('dev');">Country project summary</a>
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('dev');">Country budget summary</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('dev');">Country actual summary</a>
						<div class="dropdown-divider"></div>
						<h6 class="dropdown-header">Finance Report</h6>
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('dev');">&bull; Country budget and actual by source</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('dev');">&bull; Summary of confirmed funds</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('dev');">Projects with pending funds</a>
                    </div>
                </li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle " id="nav_dropdown__ID" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-book"></i> MANUALS</a>
                    <div class="dropdown-menu" aria-labelledby="nav_dropdown__ID">
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('dev');">Program Handbook</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('dev');">User Manual</a>
                    </div>
                </li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle " id="nav_dropdown__ID" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-download"></i> EXPORT</a>
                    <div class="dropdown-menu" aria-labelledby="nav_dropdown__ID">
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('dev');">Data</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('dev');">Files</a>
                    </div>
                </li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle " id="nav_dropdown__ID" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i> SETUP</a>
                    <div class="dropdown-menu" aria-labelledby="nav_dropdown__ID">
						<h6 class="dropdown-header">Email Alerts</h6>
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('dev');">&bull; New Program</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('dev');">&bull; New Project</a>
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('dev');">&bull; New Budget</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('dev');">&bull; Project Status Change</a>
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('dev');">&bull; Request Fund</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('site');">Site List</a>
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('document_type');">Document Type</a>
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('region');">Region List</a>
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('country');">Country List</a>
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('sector');">Sector List</a>
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('location');">Location List</a>
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('funding_source');">Funding Source List</a>
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('theme');">Theme List</a>
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('implementation_arrangement');">Implementation Arrangement List</a>
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('drr_mainstreaming');">DRR Mainstreaming List</a>
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('approval_status');">Project Approval Status</a>
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('program_list_sub_table');">Program List Sub Table</a>
						<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" onclick="$vm.nav_load_module('dev');">Actual Spending - Spreadsheet</a>
                    </div>
                </li>

				<li><a class="nav-link" onclick="$vm.nav_click_process('vm_signinout');" name=signinout><i class="fa fa-user"></i> Sign In/Out</a></li>
            </ul>
			<form id=form__ID class="form-inline my-2 my-lg-0">
				<input id=vm_system_search class="form-control mr-sm-2" type="text" placeholder="Search modules..." aria-label="Search modules..." />
			</form>
        </div>
    </nav>
    <script>
        //---------------------------------------------
        if($vm.user=='guest'){
            $('a[name=signinout]').html('<i class="fa fa-user"></i> Sign In')
            $('#username__ID').text('');
        }
        else{
            $('a[name=signinout]').html('<i class="fa fa-user"></i> Sign Out')
            $('#username__ID').text('Signed in as '+ $vm.user);
        }
        //---------------------------------------------
    </script>
    <style>
        #header__ID{
			background-color: #7EBA00;
        }
        #header__ID a{
            cursor:pointer;
        }
        #navbars__ID{
	        padding-top:30px;
        }
        .large_logo__ID{
            color:#fff;
            padding-left:30px;
        }
        .large_logo_large_label__ID{
            font-size:140%;
        }
        .large_logo_small_label__ID{
            font-size:64%;
        }
        .small_logo__ID{
            color:#fff;
        }
        #navbars__ID{
            padding-left:30px;
        }
        #form__ID{
	        padding-right:10px;
        }
		@media screen and (max-width:768px){
			#nav__ID{
                background-color: #7EBA00;
			}
	        #form__ID{
		        padding-right:0px;
	        }
		}
    </style>
</div>
