<section>
	<div id=toolbar__ID class="navbar navbar-default">
	    	<div id=row_1__ID class="col-sm col-lg-4">
					<input id=q1__ID type="text" placeholder="Programme Code" class="form-control" style="width: 200px; display:inline-block;">&nbsp;
					<input id=q2__ID type="text" placeholder="" class="form-control" style="width: 150px; display:none;">&nbsp;
					<input id=q3__ID type="text" placeholder="" class="form-control" style="width: 150px; display:none;">
					<button id=query1__ID type=button class="btn btn-secondary"><i class="fa fa-search" title='Query'></i></button>
					<button id=export__ID type=button class="btn btn-secondary"><i class="fa fa-download" title='Export'></i></button>
					<span id=title__ID class="small"></span>
	    	</div>
	    	<div class="col-sm col-lg-4">
		            Page Size:
		            <select id=page_size__ID class="form-control" style='margin-right:20px;display:inline-block;width:auto;'><option>30</option><option>50</option><option>100</option><option>200</option></select>
		            <span id=I__ID style="display:none">0</span><span id=A__ID></span>
		            <button id=p__ID type=button class="btn btn-secondary"><i class="fa fa-arrow-left"></i></button>
		            <button id=n__ID type=button class="btn btn-secondary"><i class="fa fa-arrow-right"></i></button>
	    	</div>
	       	<span id=elapsed__ID style='float:right'></span>
    </div>
    <div id=table__ID>
        <table id=grid__ID></table>
    </div>
</section>
<style>
	#toolbar__ID{
		background-color:#ccc;
		padding-left:2px;
		margin-bottom:0px;
		overflow:hidden
	}
	#title__ID{
		margin-left:10px;
	}
	@media screen and (max-width:768px){
		#toolbar__ID{
			padding: 3px 0;
		}
		#toolbar__ID div{
			padding-left:3px;
		}
		#row_1__ID{
			padding-bottom: 3px;
		}
	}
</style>
